* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    padding-left: 20px;
    size: 60px;
}

#title {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}



header {
    background-color: white;
}

body {
    background-color: lightgray;
}

.pulsante_uno {
    background-color: skyblue;
    color: white;
}

.pulsante_due {
    color: gray;
}