* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    padding-left: 20px;
    size: 60px;
}

#title {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 5px;
}


header {
    background-color: white;
}

body {
    background-color: lightgray;
}

.py-30 {
    padding-top: 30px;
}

.container {
    background-color: white;
    margin: 0 auto;
    width: 1200px;
}

.pulsanti {
    margin-left: 30px;
    margin-bottom: 15px;
    padding-top: 15px;
}

#pulsante_uno {
    color: white;
    background-color: lightblue;
}

#pulsante_due {
    color: grey;

}



.lista {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 40px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 50px;
}



.cerchio_rosso {
    background-color: red;
}

.label_light_blue {
    font-size: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: lightblue;
}

.label_purple {
    font-size: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: purple;
}

.label_green {
    font-size: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: green;
}

.label_orange {
    font-size: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: orange;
}